<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../include/design/head %>
</head>
<body>

	<header>
		<% include ../../include/design/header %>
	</header>
	
	<div class="row purplebg listings">
            <div class="col-md-8 col-md-offset-2 col-sm-12  col-xs-12">
                <div class="main-tab-menu">       
                         
                    <% include ../../include/design/top_nav %> 
                                 
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="profile">
                            <hr class="purplehr">                           
                            
                            <div class="row">
                                
                                <div class="col-md-12">
                                
                                    <div class="main-listing">
									     <% if (did == 1) { %>
										 <h1>Update Delivery Time for Monday</h1>
									     <% }
										 
										 if(did == 2){ %>
                                         <h1>Update Delivery Time for Tuesday</h1>
									     <% }
										 
										 if(did == 3){ %>
                                         <h1>Update Delivery Time for Wednesday</h1>
									     <% }
										 
										 if(did == 4){ %>
                                         <h1>Update Delivery Time for Thursday</h1>
									     <% }
										 
										 if(did == 5){ %>
                                         <h1>Update Delivery Time for Friday</h1>
									     <% } 
										 
										 if(did == 6){ %>
                                         <h1>Update Delivery Time for Saturday</h1>
									     <% } 
										 
										 if(did == 7){ %>
                                         <h1>Update Delivery Time for Sunday</h1>
									     <% } %>
										 
                                        <div class="row">
										<form method="post" id="updatedeltimefrm" action="/save-delivery-time">
										<input type="hidden" name="day_id" value="<%= did; %>" >
                                          
										  <h4>Delivery Notice Time</h4>
										  
										  <% var time_slots_string = ts_data.data2[0].times_id; %>
										  
										  <% var time_slots_array = time_slots_string.split(","); %>
										  <%= time_slots_array[4]; %>
										  
										  <% time_s = time_slots_array.indexOf('13'); %>
										  <%= time_s %>
										  
										  <div class="form-check form-check-inline">
											  <input class="form-check-input" type="radio" name="delnotice_time" id="full_hour" value="Full Hour" onclick="no_delivery_time()"; <% if(ts_data.data2[0].del_notice_time=='Full Hour') { %> checked <% } %>>
											  <label class="form-check-label" for="full_hour">Full Hour &nbsp;&nbsp;</label>
											  
											  <input class="form-check-input" type="radio" name="delnotice_time" id="half_hour" value="Half Hour" onclick="no_delivery_time()"; <% if(ts_data.data2[0].del_notice_time=='Half Hour') { %> checked <% } %>>
											  <label class="form-check-label" for="half_hour">Half Hour &nbsp;&nbsp;</label>
											  
											  <input class="form-check-input" type="radio" name="delnotice_time" id="no_delivery" value="No Delivery" onclick="no_delivery_time()"; <% if(ts_data.data2[0].del_notice_time=='No Delivery') { %> checked <% } %>>
											  <label class="form-check-label" for="no_delivery">No Delivery </label>
										  </div>
										  
										  <h4>Select Time Slots</h4>
										  <ul class="list-group">
										  <% var time_s =''; %>
											<% for(var i=0; i < ts_data.data.length; i++) { %>
											  
											   
												  <li class="list-group-item">
													<%= ts_data.data[i].time_start %> to <%= ts_data.data[i].time_end %>
													
													<% if(ts_data.data[i].id==6) { %> <%= ts_data.data[i].id %> <% } %>
													
													<%= time_s = time_slots_array.indexOf(ts_data.data[i].id); %>
													<%= time_s %>
													
													<input type="checkbox" id="delivery_time" name="delivery_time[]" value="<%= ts_data.data[i].id %>" required <% if(time_s!=-1) { %> checked <% } %>>
													
												  </li>
												  <%= time_s=''; %>
											<% } %>
										    </ul>
											
											<button type="submit" class="btn btn-success">Update</button>
										</form>	
                                        </div>
                                    
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
    
                </div>
				
                <footer>
                <% include ../../include/design/footer %>
				</footer>
    
            </div>
        </div>
	
</body>
</html>

<script>
//function no_delivery_time(){
//if($('#no_delivery').prop('checked', true)){
//alert('asdsad');
//}
//if($('#half_hour').prop('checked', true)){
//alert('half hour');
//}
//if($('#full_hour').prop('checked', true)){
//alert('full hour');
//}
//}
</script>